@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

:root{
    --lightGreen:#8FCE00;
    --green:#2EBE3A;
    --orange:#FF9F2E;
    --lightRed:#FC6E61;
    --lightOrange:#FFB97A;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.pri-btn{
    background-color: var(--green);
}

.sec-btn{
    background-color: var(--lightGreen);
}

.textField{
    border-radius: 8px;
    border: 4px;
}