body{
    background: url(../../img/pickItemPage/bg2.png) no-repeat;   
}

.searchBox{
    border-radius: 18px;
}

.myBtn{
    margin-bottom: 0;
}

#date .myBtn{
    margin-left: 4px;
    padding: 5px;
}


.swiper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 100%;
}

.control{
    text-decoration: none;
    font-size: 24px;
    color:#fff;
    text-shadow:5px 5px 15px rgba(0, 0, 0, 0.9);
    background-color: var(--green);
    padding: 4px 10px;
    border-radius: 8px;
}

.control:hover{
    background-color: lightgreen;
    color:black;
}

.detail{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.cardBtn{
    border-radius: 8;
    border-style: none;
    padding: 20px;
    background: transparent;
}

#card{
    visibility: hidden;
}   
