*{
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    background-image: url(./img/bg-wr.jpg);
    background-repeat: no-repeat;
}


.title h1{
    position: absolute;
    font-weight: 900;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

.title h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #D7FFFE;
}

.title h1:nth-child(2){
    background-image: linear-gradient(90deg, #fc6076 0%, #ff9a44 100%);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 4s ease-in-out infinite;
}

@keyframes wave{
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}



.myCard{
    display: grid;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: 'img' 'text' 'function';
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 0;
    background-color: aliceblue;
    transition: 0.5s ease; 
}

.c-img{
    grid-area: img;
    background-image: url(./img/m-bg.jpg);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
}

#c2 .c-img{
    background-image: url(./img/Tues.png); 

    background-size: cover;   
}

#c3 .c-img{
    background-image: url(./img/w3.png) 
}

#c4 .c-img{
    background-image: url(./img/t-4.png) 
}

#c5 .c-img{
    background-image: url(./img/f-5.png) 
}

#c6 .c-img{
    background-image: url(./img/saturday.jpg) 
}

#c7 .c-img{
    background-image: url(./img/s-7.png) 
}



.c-text{
    grid-area: text;
    margin:25px;
    color: black;
}

.c-function{
    grid-area: function;
}

.myCard:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}


.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 5%;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 100%;
}